body {
    /* YOUR CODE HERE */
    // background: yellow;
}

.graybox {
    background: #666666;
    // border: medium solid red;
    padding: 10px 10px 10px 10px;
}

.centerMe {

    width: 300px;
    margin: auto;
    text-align: center;
}

.txt {
    color: white;
}

.email {
    font-style: italic;
}